@model ParisianUrban.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Parisian urban | for people looking to sell, rent or buy an apartment</title>
    <link rel="Stylesheet" href="~/Content/CSS/Style.css">
</head>
<body class="home-body">
    <header class="header">
        <div class="logo-box">
            <img src="~/Content/CSS/Images/imageedit_2_8893402501.png" alt="Company logo" class="logo">
        </div>
        <div class="center-box">
            <h1 class="heading-text">
                <span class="company-name">Parisian Urban</span>
                <span class="company-slogan">There's no place like home</span>
            </h1>
            <a href="@Url.Action("Login","Auth")" class="btn btn-white">Login!</a>
        </div>

    </header>
    <!--
    <main>
        <section class="section-login">

            <div class="center-text">
                <h2 class="secondary-head">Find your dream home today!</h2>
                <div class="col-seperator">
                    <h3>Join now!</h3>
                    <br /><br />
                    <h4><i class="fas fa-search"></i> Search for an apartment</h4>
                    <br /><br />
                    <h4><i class="fas fa-thumbs-up"></i> Speak with a pro</h4>
                    <br /><br />
                    <h4><i class="fas fa-home"></i> Get your dream home!</h4><br /><br />
                    <div class="login">
                        Login
                        @*
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.LabelFor(l => l.Firstname)
                            @Html.TextBoxFor(t => t.Firstname, new { @class = "form-control", @placeHolder = "First Name" })
                            @Html.ValidationMessageFor(v => v.Firstname, "", new { @class = "text-danger" })<br /><br />

                            @Html.LabelFor(l => l.Lastname)
                            @Html.TextBoxFor(t => t.Lastname, new { @class = "form-control", @placeHolder = "Last Name" })
                            @Html.ValidationMessageFor(v => v.Lastname, "", new { @class = "text-danger" })<br /><br />

                            @Html.LabelFor(l => l.Email)
                            @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @placeHolder = "Email" })
                            @Html.ValidationMessageFor(v => v.Email, "", new { @class = "text-danger" })<br /><br />

                            @Html.LabelFor(l => l.Address)
                            @Html.TextBoxFor(t => t.Address, new { @class = "form-control", @placeHolder = "Address" })
                            @Html.ValidationMessageFor(v => v.Address, "", new { @class = "text-danger" })<br /><br />

                            @Html.LabelFor(l => l.PasswordHash)
                            @Html.PasswordFor(l => l.PasswordHash, new { @class = "form-control", @placeHolder = "Password" })
                            @Html.ValidationMessageFor(v => v.PasswordHash, "", new { @class = "text-danger" })<br /><br />

                            <button class="btn btn-primary" type="submit">Register</button>
                        }
                            *@
                    </div>
                </div>

            </div>
        </section>
    </main>
         -->
    <!--<h2 class="text-center secondary-header">Recently added</h2>-->
</body>
</html>
