@model ParisianUrban.Models.PropertyManager
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parisian Urban | Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/CSS/LumenTheme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2 class="text-center">Property Managers</h2>

        @using (Html.BeginForm("AddPropertyManager", "PropertyManager", FormMethod.Post))
        {
    
            <div class="form-group">
                @Html.LabelFor(l => l.PmName)
                @Html.TextBoxFor(pm => pm.PmName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(l => l.PmName)
                @Html.TextBoxFor(pm => pm.PmName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(l => l.PmPassword)
                @Html.TextBoxFor(ap => ap.PmPassword, new { @class = "form-control" })
            </div>
           <br /><br />
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</body>
</html>
